body {
	position: relative;
	min-height: 100%
}

.navlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: mediumseagreen;
}

/*.navlist ul {
	float: left;
}*/

.navlist a {
	font-family: sans-serif;
	float: left;
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navlist a:hover {
	background-color: white;
	/*border-style: solid;*/
	border-width: 1.5px;
}

/* If the screen size is 792px wide or less*/

/*media (max-width: 792px) {
    .navlist a {
            font-family: sans-serif;
        	display: inline-block;
        	color: black;
        	width: 100%;
        	text-decoration: none;
        	padding: 3vh 0;
    }
    .navlist {
            list-style-type: none;
        	margin: 0;
        	padding: 0;
        	overflow: hidden;
        	background-color: mediumseagreen;
        	text-align: center;
        	width:40vw;
    }
    .navlist a:hover {
        background-color: white;
    }
    .navigation {
        z-index: +1;
        position: absolute;
    }
}*/

/*@media (min-width: 792px) {*/

.navbutton {
	display: none;
}

/*}*/

/*.navigation {
	background-color: white;
	padding: 5px
}*/

.navbutton {
	font-size: 10vw;
	width: 100%;
	max-height: 31vw;
	text-align: right;
	margin-bottom: 0;
}

.navbutton button {
	margin-bottom: 0;
	margin-right: 5vw;
	background-color: white;
	border: none;
}

.header-container {
	font-family: sans-serif;
	background: white;
	max-width: 100%;
	height: 20vh;
}

.header-text {
	display: inline-block;
	text-align: center;
	padding: 8vh 0 0 0;
	margin-top: 0;
	font-size: 4vmin;
}

.header-text a {
	color: black;
	max-width: 70vw;
}

.header-text a:hover {
	color: black;
	text-decoration: none;
}

.header-image {
	float: right;
	max-width: 30vw;
	max-height: 90%;
}

.footer {
	max-width: 100%;
	background-color: none;
	font-family: sans-serif;
	text-align: center;
	padding: 10px
}

.footer a {
	color: Blue;
}

.footer img {
	padding: 0px 20px;
}

.content {
	background-color: white;
	padding: 5px 7px;
	max-width: 100%;
}

.results-content {
	background-color: white;
	padding: 2px;
	max-width: 100%;
	border-width: 1px;
	border-style: solid;
	margin: 2px;
}

.content-without-background {
	padding: 5px 7px;
	max-width: 100%;
	border-style: solid;
	border-width: 1.5px;
}

.content-left {
	float: left;
	background-color: white;
	padding: 5px 7px;
	max-width: 47%;
	border-style: solid;
	border-width: 1.5px;
	max-height: 100%;
	margin: 3px;
}

.content-right {
	float: right;
	background-color: white;
	padding: 5px 7px;
	max-width: 48%;
	border-style: solid;
	border-width: 1.5px;
	max-height: 100%;
	margin: 3px;
}

.content-text {
	font-family: sans-serif;
}

.content-image {
	border-style: solid;
	border-width: 1px;
	border-color: lightblue;
	float: right;
	max-width: 35%;
	vertical-align: middle;
	display: inline-block;
}

.clubinfo-image {
	border-style: solid;
	border-width: 1px;
	border-color: lightblue;
	max-width: 30%
}

.content-with-image {
	border-style: solid;
	border-width: 1.5px;
	background-color: white;
	padding: 5px 7px;
	width: 30%;
	height: 30%;
}

.imageboarder {
	border-width: 1.5px;
	border-style: solid;
}

.clubinfo-image {
	max-width: 100%;
	max-height: 100%;
	margin: 2px;
}

.tablerows {
	width: 200px;
}

.tablecontent {
	list-style-type: none;
	height: 400px;
}