:root {
    --color-1: #064789;
    --color-2: #6da34d;
    --color-3: #fffff4;
    --color-4: #215630;
    --color-5: #1e212f;
}
* {
    color:              var(--color-5)!important;
}
body {
    background-color:   var(--color-3)!important;
}
