.accordion {
	width: 100%;
	padding: 10px;
	background-color: var(--color-4);
	color: var(--color-3);
	border-width: 0px 0px 0px 0px;
	border-color: var(--color-5);
}

.accordion:hover {
	background-color: var(--color-2);
}

button:focus {
	outline: none;
}

.accordion-panel {
	background-color: rgb(240, 240, 240);
	padding: 3vw;
	word-wrap: break-word;
}

.accordion-panel button {
	width: 100%;
	padding: 5px;
	border-width: 0;
	background-color: var(--color-1);
	color: var(--color-3);
	margin: 1px 0px 1px 0px
}

.sub-accordion div {
	background-color: var(--color-2);
}

@media (min-width:850px) {
	.sub-accordion div ul {
		margin-bottom: 0.2vh;
		padding: 0;
	}
	.sub-accordion div ul li {
		display: inline-block;
		width: 50%;
		margin: 0;
		padding-left: 20%;
	}
}

@media (max-width:849px) {
	.sub-accordion div ul {
		margin-bottom: 1vh
	}
	.sub-accordion div ul li {
		text-align: center;
	}
}